body {
    background-color: #1b1b1b;
    height: 100vh;
}

.header-container {
    margin-top: 20px;
    color: aliceblue;
    
}

.cross-hair{
    color: #E00C30
}


/* game area */

.main-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.game-area {
    position: relative;
    padding:0;
    background-color: #313131;

}

/* annimation by @Huhtamaki on Code Pen, Credit in read me  */

.game-area:before,
.game-area:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: rgb-border 20s linear infinite;
}

@keyframes rgb-border {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* end of animation made by @Huhtamaki  */

/* stats area */

.stats-area{
    margin:0;
    padding-left: 6%;
}

.stats{
    text-align: center;
    width: 150px;
    background-color: transparent;
    text-decoration: none;
    margin-bottom: 60px;
}
.user-name {
    color: #BABABA;
    
}

.user-name:focus {
    border: solid 2px #25E9E1;
    outline: none;
    color: #25E9E1;
}

.stat-accuracy{
    color: #BABABA;
    border: solid 2px;
    border-color: #a67beb;
    color: #a67beb;
   
}



.stat-hits{
    color: #BABABA;
    border: solid 2px;
    border-color: #2FC946;
    color: #2FC946;
}




.stat-missed{
    color: #BABABA;
    border: solid 2px;
    border-color: #E00C30;
    color: #E00C30;
}




.high-score{
    color: #BABABA;
    border: solid 2px;
    color: #F4F205;
    border-color: #F4F205;
}




.settings-btn{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    
}

.settings-btn i{
    background-color: transparent;
    color: #BABABA;
    float: right;
}



/* Spawn point  */

.spawn-point{
    height: 52px;
    margin: 0;
    padding: 0;
    
}

.target{
    
    font-size: 28px;
    
    color: #f82c2c;
}



/* colors */

.white{
    color: rgb(201, 201, 201);
}


/* settings containers  */

.settings-containers{
    
    background-color: rgb(47, 47, 47);;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 7%;
    padding-top:20px;
    padding-bottom: 30px;
   

}

.header-game-mode{
    text-align: center;
}




/* Rules Page!  */

.rules-info{
     
    background-color: rgb(167, 166, 166);;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 1%;
    padding-top:15px;
    padding-bottom: 30px;
    width:100%;
    
    padding-left: 15px;
    padding-right: 15px;
}

.rules-header{
    text-decoration: underline;
    color: rgb(29, 29, 29);
}